---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import BackToBlogButton from "@components/BackToBlogButton.astro";
import FormattedDate from "@components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"] & { slug: string };

const { title, heroImage, pubDate, slug } = Astro.props;
---

<Layout {title}>
  <div class="max-w-article-size mx-auto w-full space-y-4">
    <BackToBlogButton />

    <div
      class="border-extra-soft-white w-full max-w-[none] rounded-xl border"
      transition:name={`blog_transition_${slug}`}
    >
      <article>
        <Image
          src={heroImage}
          alt="Computador y logo de programación del post de blog"
          width={1020}
          height={520}
          class="aspect-[16/5] rounded-t-xl object-cover"
        />
        <div
          class="prose prose-zinc prose-invert lg:prose-xl px-12 py-12 text-white"
        >
          <FormattedDate pubDate={pubDate} />

          <h1>{title}</h1>
          <slot />
        </div>
      </article>
    </div>
  </div>
</Layout>
